---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
---

<Layout
        title="Juan Luis Carrasco"
        description="Experienced computer engineer with a demonstrated history of working in the information technology and services industry. Skilled in software development, cloud computing, microservices... Strong engineering professional with a Master's degree focused in Computer Science from the University of Mélaga."
>
    <main class="px-4">
        <SectionContainer class="py-16 md:py-36">
            <Hero>
                <slot/>
            </Hero>
        </SectionContainer>
        <div class="space-y-24">
            <SectionContainer id="experience">
                <h2
                        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white"
                >
                    <Briefcase class="size-8"/>
                    Experience
                </h2>
                <Experience/>
            </SectionContainer>

            <SectionContainer id="about-me">
                <h2
                        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white"
                >
                    <ProfileCheck class="size-8"/>
                    About me
                </h2>
                <AboutMe/>
            </SectionContainer>
        </div>
    </main>
</Layout>
