---
const personalImageAlt = "Juan Luis"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&_strong]:text-yellow-200 [&_strong]:font-semibold text-gray-300 [& strong]:font-normal [& strong]:font-mono text-pretty order-2 md:order-1">
        <p>
            I am Juan Luis Carrasco Merchán. I started programming in BASIC when I was a child.
            Currently I work as a <strong>Domain Architect for a multinational company</strong>.
        </p>
        <p>
            I also feel proud of having contributed to
            <a href="https://android-review.googlesource.com/q/owner:jlcarrasco1990%2540gmail.com+status:merged"><strong>Android source code</strong>.</a>
        </p>

        <p>
            I co-founded <a href="https://securekids.es"><strong>
            SecureKids, <em class="italic">an Android parental control application</em></strong>,</a>
            with the aim of helping parents to protect their children from the dangers of the Internet.
        </p>
    </div>
    <img loading="lazy" width="200" height="200" src="/me.webp" alt={personalImageAlt}
         class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
         style="object-position: 50% 50%">

</article>
