---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: "Jun 2023 - Present",
        title: "Domain Architect",
        company: "Saber.Tech",
        description:
            "Development of services for a lottery client. Creation of new microservices to enhance the functionality and performance of the platform and to replace a legacy monolithic application.",
        link: "https://saber.tech",
    },
    {
        date: "Aug 2020 - Jun 2023",
        title: "Domain Architect",
        company: "Ciklum",
        description:
            "Development of services for a lottery client. Creation of new microservices to enhance the functionality and performance of the platform and to replace a legacy monolithic application.",
        link: "https://ciklum.com"
    },
    {
        date: "Nov 2017 - Jul 2019",
        title: "Lead software engineer",
        company: "EPAM Systems",
        description:
            "Managed team for mortgage and real estate report services, overseeing development, maintenance, and smooth operations, coordinating cross-functional efforts for releases and issue resolution.",
        link: "https://epam.com",
    },
    {
        date: "Nov 2017 - Jul 2019",
        title: "Senior software developer",
        company: "Ciklum",
        description:
            "Development of microservices for Thomas Cook, integrating Thomas Cook with Expedia services, maintaining and development of the search engine used by Thomas Cook (with Apache Solr).",
        link: "https://ciklum.com"
    },
    {
        date: "Apr 2015 - Nov 2017",
        title: "Technical consultant",
        company: "Hewlett-Packard Enterprise",
        description:
            "Technical consultant for Hewlett Packard Enterprise focused on development of solutions (RCS, SIP) for major telco companies (such as Telefonica, Vodafone...).",
        link: "https://hpe.com"
    },
    {
        date: "Mar 2014 - Jul 2015",
        title: "Co-Founder and technical lead",
        company: "Securekids",
        description:
            "Securekids is a parental control application to keep childrens safe on the internet. I was responsible for the development of the Android application",
        link: "https://securekids.es/"
    },
    {
        date: "Feb 2015 - Feb 2015",
        title: "HP University 12th Edition participant",
        company: "Hewlett-Packard",
        description:
            "The HP University Program is a rigorous training for talented individuals, assessing skills like analytical ability, communication, and adaptability. Successful participants may become Hewlett-Packard employees.",
        link: "https://www.hp.com/"
    },
    {
        date: "Oct 2013 - Dec 2013",
        title: "Android developer",
        company: "Grupo ACT",
        description:
            "Android development for 'Malaga Funciona' application and others.",
        link: "https://grupoact.com/"
    },
]
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
                <li>
                    <ExperienceItem {...experience}/>
                </li>
        ))
    }
</ol>
