---
interface Props {
  className?: string
}

const { className = "" } = Astro.props as Props
---

<h2
	class={`flex items-center mb-6 text-3xl font-semibold gap-x-3 text-white ${className}`}
>
    <slot />
</h2>
